#contenuto-logo {
    line-height: 100px;
    background-size:25%;
    height: 100px;
    background-color: lightskyblue;
    background-image: url(img/pattern.png)
}

#logo {
    height: 50px;
    vertical-align: middle;
    
}

h1 {
    width: 1000px;
}

#scritto-da {
    color: grey;
    margin: 0;
}

#the-booleaner {
    color: lightblue;
    margin: 0;
}

time {
    color: grey;
}

#firstphoto {
    font-size: 13px;
    margin: 0;
}

#secondphoto {
    font-size: 13px;
    margin: 0;
}